<a href="https://colab.research.google.com/github/gus1russ/BTE320/blob/main/InClassAssignment_GusRussell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Income Statement In Class Assignment - BTE 320

In [ ]:
#input sales and COGS
sales = float(input('Enter Sales ($):'))
COGS_pct = float(input('Enter Cost of Goods Sold (%):'))
taxRate = float(input('Enter Tax Rate (%):'))

#processing is to calculate COGS and gross profit
COGS = sales * COGS_pct / 100
grossProfit = sales - COGS
tax = grossProfit * taxRate / 100
netIncome = grossProfit - tax

#outputs print using f string
print(f'Sales: ${sales}')
print(f'Cost of Goods Sold: ${COGS}')
print(f'Gross Profit: ${grossProfit}')
print(f'Tax: ${tax}')
print(f'Net Income: ${netIncome}')

Enter Sales ($):12000
Enter Cost of Goods Sold (%):40
Enter Tax Rate (%):30
Sales: $12000.0
Cost of Goods Sold: $4800.0
Gross Profit: $7200.0
Tax: $2160.0
Net Income: $5040.0

Inventory Management In class Assignment

In [ ]:
# you can do import math OR raise the expression to the 0.5 power
#Inputs
D = int(input('Enter Annual Demand (units/year):'))
S = float(input('Enter Reorder Cost ($/order):'))
H = float(input('Enter Annual Holding Cost ($/unit/year):'))

#Processing
#with math module EOQ = math.sqrt(2 * D * S / H)
EOQ = (2 * D * S / H)**(0.5) #without math

#Outputs
print(f'Economic Order Quantity: {int(EOQ)} units')

Enter Annual Demand (units/year):100
Enter Reorder Cost ($/order):1.5
Enter Annual Holding Cost ($/unit/year):3
Economic Order Quantity: 10.0 units

Numerical Calculator - If/elif/else statements

In [ ]:
no1 = float(input('Enter first number: '))
no2 = float(input('Enter second number: '))
operator = input('Enter operator (+,-,*,/,**): ')

res = None

if operator == '+':
  res = no1 + no2
elif operator == '-':
  res = no1 - no2
elif operator == '*':
  res = no1 * no2
elif operator == '/':
  res = no1 / no2
elif operator == '**':
  res = no1 ** no2
elif operator == '//':
  res = no1 // no2
elif operator == '%':
  res = no1 % no2
else:
  res = None
  print('Invalid operator')

print(f'Result: {res}')

Enter first number: 34
Enter second number: 3
Enter operator (+,-,*,/,**): f
Invalid operator
Result: None

Parking Garage (for/while loop) In Class Assignment

In [ ]:
print('Hour    Fee')
print('-------------')
for h in range(1,9):
  rate = 5 + 2.5*h
  if rate < 10:
    rate = 10
  elif rate > 20:
    rate = 20
  print(f'{h}\t{rate}')

Hour    Fee
-------------
1	10
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20
8	20

Movie Theater (for/while loop) In Class Assignment

In [ ]:
print('Ad', "Profit")
for ad in range(0,201,25):
  revenue = 20 * 10 + 10 * 2 * ad ** 0.5
  expenses = 200 + ad
  profit = revenue - expenses
  print(ad, round(profit) )

Ad Profit
0 0
25 75
50 91
75 98
100 100
125 99
150 95
175 90
200 83

Append items to list iteratively (while loop) In Class Assignment

In [5]:
l = []
num = float(input('give a #: '))
while num != 0:
  l.append(num)
  num = float(input('give another #: '))
l.sort(reverse = True)
print(l)

give a #: 3
give another #: 4
give another #: 5
give another #: 6
give another #: 5
give another #: 6
give another #: 454
give another #: 53
give another #: 45
give another #: 34534
give another #: 5
give another #: 0
[34534.0, 454.0, 53.0, 45.0, 6.0, 6.0, 5.0, 5.0, 5.0, 4.0, 3.0]